body{
    padding-top: 40px;
}
.jumbotron {
    background: url("https://github.com/gabolondon/SmartingPage/blob/main/images/imghero.png?raw=true") no-repeat center;
    color: white;
    min-height: 420px;
}
.btn-primary {
    background-color: #a50303;
    border-color: #a50303;
}
.btn-secondary {
    background-color: transparent;
    border-color: #a50303;
    color: #a50303;
}
#contact {
    background: url("https://github.com/gabolondon/SmartingPage/blob/gh-pages/images/3274764.jpg?raw=true") no-repeat center;
}