body{
    padding-top: 40px;
}
#containerinicial {
    /* background: url("https://github.com/gabolondon/SmartingPage/blob/main/images/imghero.png?raw=true") no-repeat center; */
    background: rgb(136,135,135);
    background: url("https://i.ibb.co/xz4ysKN/20220905-101352small.jpg") no-repeat right, linear-gradient(0deg, rgba(136,135,135,1) 0%, rgba(231,231,231,1) 100%);
    color: white;
    padding: 0;
    min-height: 300px;
}
.btn-primary {
    background-color: #a50303;
    border-color: #a50303;
}
.btn-secondary {
    background-color: transparent;
    border-color: #a50303;
    color: #a50303;
}
#contact {
    background: url("https://github.com/gabolondon/SmartingPage/blob/gh-pages/images/3274764.jpg?raw=true") no-repeat center;
}
.container-align{
    text-align: end;
}
#cajaTitulo{
    background-color: rgba(136,135,135,0.2);
    min-height: 300px;
}